.monthstats {
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;

    .card li {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 10px;
      cursor: pointer;
    }

    .card {
      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        margin-bottom: 30px;
      }

      .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {
          font-weight: bold;
        }
      }

      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}
